bin/
dist/
node_modules/
*.log
.env
.DS_Store
proto/gen/
auth-service/ent/*
!auth-service/ent/schema
!auth-service/ent/generate.go
post-service/ent/*
!post-service/ent/schema
!post-service/ent/generate.go
