go 1.25.5

use (
	./microservices/notification-service
	./microservices/auth
	./microservices/gateway-service
	./microservices/messaging-service
	./microservices/post-service
	./microservices/social-service

	./microservices/test-service
	./shared/pkg
	./shared/proto
)
