server:
  http_listen_port: 3200
  http_listen_address: 0.0.0.0
  grpc_listen_address: 0.0.0.0

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"
        http:
          endpoint: "0.0.0.0:4318"
    jaeger:
      protocols:
        thrift_http:
          endpoint: "0.0.0.0:14268"
    zipkin:
      endpoint: "0.0.0.0:9411"

ingester:
  trace_idle_period: 1s
  max_block_bytes: 1000000
  max_block_duration: 5m

compactor:
  compaction:
    compaction_window: 1h
    max_block_bytes: 100000000
    block_retention: 1h
    compacted_block_retention: 10m

storage:
  trace:
    backend: s3
    s3:
      bucket: tempo-bucket
      endpoint: minio:9000
      access_key: minioadmin
      secret_key: minioadmin
      insecure: true
    wal:
      path: /tmp/tempo/wal

overrides:
  metrics_generator_processors:
    - 'service-graphs'
    - 'span-metrics'
    - 'local-blocks'

metrics_generator:
  registry:
    external_labels:
      source: tempo
      cluster: microservices
  storage:
    path: /tmp/tempo/generator/wal
    remote_write:
      - url: http://prometheus:9090/api/v1/write
        send_exemplars: true
  traces_storage:
    path: /tmp/tempo/wal
