
auth_enabled: false

server:
  http_listen_port: 3100

common:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory
  replication_factor: 1
  path_prefix: /tmp/loki

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: aws
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  aws:
    endpoint: minio:9000
    access_key_id: minioadmin
    secret_access_key: minioadmin
    s3forcepathstyle: true
    region: us-east-1
    insecure: true
    bucketnames: loki-bucket
  tsdb_shipper:
    active_index_directory: /tmp/loki/tsdb-index
    cache_location: /tmp/loki/tsdb-cache
    cache_ttl: 24h

compactor:
  working_directory: /tmp/loki/compactor

ruler:
  alertmanager_url: http://alertmanager:9093
