
multitenancy_enabled: false

server:
  http_listen_port: 9009
  grpc_listen_port: 9095

common:
  storage:
    backend: s3
    s3:
      endpoint: minio:9000
      access_key_id: minioadmin
      secret_access_key: minioadmin
      insecure: true
      bucket_name: mimir-bucket

blocks_storage:
  backend: s3
  s3:
    bucket_name: mimir-bucket

compactor:
  data_dir: /tmp/mimir/compactor
  sharding_ring:
    kvstore:
      store: memberlist

distributor:
  ring:
    kvstore:
      store: memberlist

ingester:
  ring:
    kvstore:
      store: memberlist

ruler:
  rule_path: /tmp/mimir/rules
  alertmanager_url: http://alertmanager:9093

ruler_storage:
  backend: s3
  s3:
    bucket_name: mimir-ruler-bucket

store_gateway:
  sharding_ring:
    replication_factor: 1
    kvstore:
      store: memberlist
