apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    url: http://prometheus:9090
    access: proxy
    isDefault: true
    jsonData:
      httpMethod: POST
      exemplarTraceIdDest:
        datasourceUid: tempo
        name: traceID

  - name: Loki
    type: loki
    uid: loki
    url: http://loki:3100
    access: proxy
    jsonData:
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: "(?:traceID|trace_id)[\"=: ]+(\\w+)"
          name: TraceID
          url: "$${__value.raw}"

  - name: Tempo
    type: tempo
    uid: tempo
    url: http://tempo:3200
    access: proxy
    jsonData:
      httpMethod: POST
      nodeGraph:
        enabled: true
      search:
        hide: false
      serviceMap:
        datasourceUid: 'prometheus'

  - name: Pyroscope
    type: phlare
    uid: pyroscope
    url: http://pyroscope:4040
    access: proxy
    jsonData:
      minRefreshInterval: 5s

